body {
    background: #f86d6d;
}

p, span, h1, h2, h3, h4, h5 ,h6, div {
    color: #fff;
}

.logotipo {
    width: 30vh;
}

.versao {
    position: fixed;
    bottom: 0;
    margin-left: 25px;
    color: #fff;
    font-size: large;
}

.links-direta-baixo{
    position: fixed;
    right: 0;
    bottom: 0;
    margin-bottom: 25px;
    margin-right: 25px;
    color: #fff;
    font-size: large;
}

.center-text{
    text-align: center;
}

.center-vertical{
    display: block;
}

.center-vertical-item{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.form-linguas{
    margin-top: 10px;
    background-color: #f8a06d;
    color: #fff;
    border: none;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form-linguas:focus {
    background-color: #ce855b;
    color: #fff;
}

.btn-jogar{
    font-weight: bold;
    font-size: 2em;
}

.btn-stopstop{
    background-color: #f8a06d;
    color: #fff;
    border: none;
}

.btn-stopstop:active, .btn-stopstop:focus, .btn-stopstop:hover{
    background-color: #ce855b;
    color: #fff;
}

button:focus, select:focus, input:focus {
    outline: 0!important;
    box-shadow: 0 0 0 0.1rem rgba(0,0,0,.15)!important;
}

.btn-passo{
    font-size: 1.3em;
}

.btn-success{
    background-color: #5ccc58
}

#modal_carregando{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.50);
}

#cenas_passou{
    width: 100vw;
    height: 100vh;
    background: #f8a06d
}

#cenas_erro{
    width: 100vw;
    height: 100vh;
    background: #d64444
}

#cenas_acertou{
    width: 100vw;
    height: 100vh;
    background: #5ccc58
}

#cenas_vitoria{
    width: 100vw;
    height: 100vh;
    background: #121213;
}

#cenas_vitoria i{
    color: #FFD700!important;
}

#cenas_vitoria .btn{
    background: #fff;
    color: #000;
}

.letraAtual{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    width: 66px;
    height: 66px;
    padding: 8px;
    border-radius: 50%;
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
}

#cenas_perguntas #letraAtualBox{
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#cenas_perguntas #letraAtualCirculo{
    width: 100px;
    height: 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cenas_perguntas #letraAtualCirculo .letraAtualTexto {
    position: absolute;
    color: #fff; 
}
  
#cenas_perguntas #letraAtualCirculo svg {
    height: 100%;
    display: block;
    z-index: 1;
}

.form-perguntas #resposta{
    width: 37vw;
    display: inline-block;
    margin-right: 1vw;
}